*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

body{
    background-image: linear-gradient(180deg, #f6d365, #fda085);
    color: white;
    min-height: 100vh;
}



header{
    font-size: 2rem;
    color: white;
}
header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    background: white;
}


form button{
    color: rgb(235, 140, 16);
    background: white;
    cursor: pointer;
    transition:all 0.3s ease;
    
}
form button:hover{
    background: rgb(235, 140, 16);
    color: white;

}
form input:hover{
    box-shadow: inset 0 0 10px rgb(235, 140, 16);
    
}

.todo-container {
display: flex;
justify-content: center;
align-items: center; 
  
}
.todo-list{
    min-width: 30rem;
    list-style: none;
    /* overflow-y: auto; */
    max-height: 300px; 
    
}
/* .todo-list::-webkit-scrollbar {
    display: none;
} */
.todo{
    margin: 0.5rem;
    background: white;
    color: rgb(235, 140, 16);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    transition: all .3s ease;
    font: bolder;
}
.todo li{
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.complete-button,
.trash-button{
    background: rgb(235, 140, 16);
    border: none;
    padding: 1rem;
    color: white;
    cursor: pointer;
    margin: 0;
    font-size: 1.5rem;
}
.complete-button{
    background: rgb(29, 202, 29);
}
.trash-button:hover{
    background: lightgray;
    color: rgb(235, 140, 16);
   
}
.complete-button:hover{
    background: lightgray;
    color: rgb(29, 202, 29);
   
}
.fa-trash,
.fa-check{
    pointer-events: none;
}

.check{
    text-decoration: line-through solid red;
    opacity: 50%;
}

.fall{
    transform: translateY(8rem) rotateZ(10deg);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}


.shake{
    /* transform: translateY(1rem);
    transform: translateY(-1rem);
    transition: .2s ease-in-out; */
    box-shadow: inset 0 0 20px red;
    
    

}
.shake::placeholder{
    color: red;
}
.normel{
    box-shadow: none;
}

select{
    padding: .75rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: white;
    margin-left: 10px;
    cursor: pointer;
    color:  rgb(235, 140, 16);
    overflow: hidden;
    /* position: relative;
    overflow: hidden; */
    padding-right: 2.5rem;
}
.select{
position: relative;
}

.select::after{
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(235, 140, 16);
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.select:hover::after{
    background: white;
    color: rgb(235, 140, 16);
}
select:hover{
background-color: rgb(235, 140, 16);
color: white;
}

/* .comp{
    display: none;
} */
